[submodule "Sapphire/vendor/GLFW"]
	path = Sapphire/vendor/GLFW
	url = https://github.com/rhoondev/glfw
	branch = master
	update = rebase
[submodule "Sapphire/vendor/imgui"]
	path = Sapphire/vendor/imgui
	url = https://github.com/rhoondev/imgui
	branch = docking
	update = rebase
[submodule "Sapphire/vendor/glm"]
	path = Sapphire/vendor/glm
	url = https://github.com/g-truc/glm
