[submodule "Sapphire/vendor/spdlog"]
	path = Sapphire/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sapphire/vendor/GLFW"]
	path = Sapphire/vendor/GLFW
	url = https://github.com/rhoondev/glfw
